/*  데스크탑 */
@media (min-width: 1471px) {
  /* main */
  .intro .intro-row1 {
    height: 50vh;
  }
  .intro .intro-row2 {
    height: 50vh;
  }

  .howiwork .howiworktx {
    max-width: 43vw;
  }

  /* projects page */
  .projects-p .projects-p-title {
    font-size: 150px;
  }

  /* project page */
  .project-container p {
    width: 50%;
  }
}

/* 1025 ~ 1470 노트북 기본 */

/* 태블릿용 height 768 */
@media (max-width: 1024px) {
  /* main */
  .loading-logo {
    font-size: 130px;
  }

  .lateral1 div {
    font-size: 17px;
  }

  .lateral2 div {
    font-size: 27px;
  }

  .intro .intro-row1,
  .intro .intro-row2 {
    height: 50%;
  }

  .intro .intro-row2 .intro-text-wrap {
    top: 60%;
    transform: translate(-50%, -50%);
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 40px;
  }

  .about h1 {
    font-size: 17px;
    padding-bottom: 7em;
  }

  .about .about-item {
    height: 13vh;
  }

  .about .about-item p {
    font-size: 65px;
  }

  .about .about-item span {
    top: 25%;
    left: -5%;
    font-size: 15px;
  }

  .howiwork h1 {
    font-size: 23px;
  }

  .split5,
  .split6 {
    font-size: 30px;
  }

  .split5 {
    margin-bottom: 70px;
  }

  .project-item-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description-list {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description-item {
    font-size: 30px;
  }

  .scroll {
    top: unset;
    right: unset;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .footer_top {
    font-size: 50px;
  }

  .top-button button {
    font-size: 40px;
  }

  /* projects page */
  .projects-p .projects-p-title {
    font-size: 80px;
  }
  .project-p-title h1 {
    font-size: 27px;
  }

  .project-p-title p {
    font-size: 17px;
  }

  .toproject-p {
    bottom: -7%;
  }

  .projects-p-item {
    align-items: end;
  }

  .projects-p-item .project-p-container {
    height: unset;
    aspect-ratio: 1 / 1;
  }

  /* project page */
  .project-title .pt-mask {
    height: 70px;
  }

  .project-title .pt-mask div {
    height: 70px;
    font-size: 60px;
  }

  .project-container p {
    width: 100%;
  }

  .ts-problem-discrip {
    width: 100%;
    padding-right: 20px;
  }
}

/* 모바일 대 */
@media (max-width: 768px) {
  body {
    cursor: auto;
    position: relative;
  }

  /* main */
  .lateral {
    position: absolute;
    top: 0;
    left: 0;
    bottom: unset;
    transform: unset;
    transform-origin: unset;
    height: 15vh;
    text-transform: unset;
    overflow: hidden;
  }

  .lateral1 {
    position: unset;
    transform: unset;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .lateral1 div {
    font-size: 100px;
    font-weight: 100;
    line-height: 0.9;
    letter-spacing: -4px;
    animation: scroll-vertical 30s linear infinite;
  }

  .lateral2 {
    display: none;
  }

  .intro .intro-row1 .logo {
    white-space: nowrap;
    top: 22%;
  }

  .intro .intro-row1 .logo .logo-flex {
    display: none;
  }

  .intro .intro-row1 nav {
    top: unset;
    right: unset;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 30px;
  }

  .about {
    height: 100vh;
  }

  .about h1 {
    padding-bottom: 5em;
  }

  .about .about-item {
    height: 13vh;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about .about-item span {
    font-size: 13px;
    position: unset;
    padding-bottom: 10px;
  }

  .about .about-item p {
    font-size: 45px;
  }

  .howiwork {
    padding: 1em;
    flex-direction: column;
    gap: 10vh;
  }

  .howiwork h1 {
    width: 100%;
  }

  .howiwork .howiworktx {
    width: 100%;
    max-width: unset;
  }

  .split5,
  .split6 {
    font-size: 35px;
  }

  .project-item-title {
    font-size: 60px;
  }

  .description-list {
    top: 58%;
  }

  .description-item {
    font-size: 25px;
  }

  .scroll {
    font-size: 30px;
  }

  .footer_top {
    font-size: 40px;
  }

  .footer_bottom {
    font-size: 40px;
  }

  .cursor {
    display: none;
  }

  /* projects page */
  body.projects {
    width: unset;
    height: unset;
    overflow: unset;
  }

  .toproject-p {
    display: none;
  }

  #projects-p {
    height: auto;
    touch-action: auto;
    overscroll-behavior: auto;
  }

  .projects-p {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }

  .projects-p .projects-p-title {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -5px;
  }

  .projects-p .projects-p-title:nth-child(2) {
    padding-bottom: 15vh;
  }

  .projects-p-responsive {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
  }

  .projects-p-item {
    height: auto;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }

  .projects-p-item .project-p-container {
    width: 100%;
    height: 60vh;
  }

  .project-p-title h1 {
    font-size: 30px;
  }

  .project-p-title p {
    font-size: 20px;
  }

  /* project page */
  #project .pin-spacer {
    height: 50vh !important;
  }

  #project .intro {
    height: 50vh !important;
  }

  #project .intro .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
  }

  #project .intro .home .project-logo {
    font-size: 25px;
  }

  #project .intro .intro-bottom {
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 7vh;
  }

  .intro-bottom .intro-bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-bottom .project-title {
    width: 100%;
  }

  .intro-bottom .project-title .pt-mask div {
    top: 50%;
    left: 50%;
    right: unset;
  }

  .old {
    transform: translate(-50%, -50%);
  }

  .new {
    transform: translate(-50%, 50%);
  }

  .pt-mask:hover .old {
    transform: translate(-50%, -150%);
  }

  .pt-mask:hover .new {
    transform: translate(-50%, -50%);
  }

  .project-info .project-container p {
    font-size: 16px;
  }

  .project-info .project-container .tool-wrap li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .project-info .project-container .function-wrap li {
    font-size: 16px;
  }

  .project-container .ts-wrap {
    font-size: 16px;
  }

  .ts-problem,
  .ts-fix {
    margin-bottom: 10px;
  }

  .ts-problem-discrip {
    font-size: 16px;
  }

  .ts-fix-discrip {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  /* main */
  .about .about-item p {
    font-size: 30px;
  }

  .split5,
  .split6 {
    font-size: 30px;
  }

  .project-item-title {
    font-size: 35px;
  }

  .description-list {
    top: 56%;
  }

  .description-item {
    font-size: 17px;
  }

  .scroll {
    font-size: 28px;
  }

  .footer_top {
    font-size: 30px;
    height: 50vh;
  }

  .footer_bottom {
    font-size: 30px;
  }

  /* projects page */
  .projects-p .projects-p-title {
    font-size: 70px;
    letter-spacing: -2px;
  }

  .projects-p-responsive {
    font-size: 23px;
  }

  .projects-p-item .project-p-container {
    height: 45vh;
  }

  /* project page */
  #project .intro .home .project-logo {
    font-size: 20px;
  }

  .project-title .pt-mask div {
    font-size: 35px;
  }

  .next-project {
    font-size: 20px;
  }

  .top {
    justify-content: center;
  }

  
}

/* 모바일 */
@media (max-width: 393px) {
  /* main */
  .loading-logo {
    font-size: 90px;
    letter-spacing: -2px;
  }

  .intro .intro-row1 .logo {
    top: 19%;
  }

  .intro .intro-row2 .intro-text-wrap {
    top: 50%;
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 27px;
  }

  .about {
    height: 100vh;
  }

  .about .about-item {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }

  .about .about-item span {
    font-size: 13px;
    position: unset;
    padding-bottom: 10px;
  }

  .about .about-item p {
    font-size: 30px;
  }

  .howiwork {
    height: 60vh;
    padding: 1em;
  }

  .split5,
  .split6 {
    font-size: 20px;
  }

  .project-item-title {
    font-size: 35px;
  }

  .description-list {
    top: 55%;
  }

  .description-item {
    font-size: 15px;
  }

  .scroll {
    font-size: 25px;
  }

  .footer_top {
    justify-content: flex-end;
    height: 50vh;
    font-size: 20px;
  }

  .footer_bottom {
    padding-top: 10vh;
    align-items: unset;
    font-size: 30px;
  }

  /* projects page */

  /* project page */
}
