/*  데스크탑 */
@media (min-width: 1471px) {
  /* main */
  .intro .intro-row1 {
    height: 50vh;
  }
  .intro .intro-row2 {
    height: 50vh;
  }

  .howiwork .howiworktx {
    max-width: 43vw;
  }

  /* projects page */
  .projects-p .projects-p-title {
    font-size: 150px;
  }

  /* project page */
  .project-container p {
    width: 50%;
  }
}

/* 태블릿용 height 768 */
@media (max-width: 1024px) {
  /* main */
  .loading-logo {
    font-size: 130px;
  }

  .lateral1 div {
    font-size: 20px;
  }

  .intro .intro-row1 nav a {
    font-size: 20px;
  }

  .intro .intro-row1 nav a::after {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    right: 16px;
  }

  .intro .intro-row1,
  .intro .intro-row2 {
    height: 50vh;
  }

  .intro .intro-row2 .intro-text-wrap {
    top: 60%;
    transform: translate(-50%, -50%);
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 40px;
  }

  .about h1 {
    font-size: 30px;
    padding-bottom: 7em;
  }

  .about .about-item {
    height: 13vh;
  }

  .about .about-item p {
    font-size: 65px;
  }

  .about .about-item span {
    top: 25%;
    left: -5%;
  }

  .split5,
  .split6 {
    font-size: 35px;
  }

  .split5 {
    margin-bottom: 70px;
  }

  .project-item-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description-list {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description-item {
    font-size: 30px;
  }

  .scroll {
    top: unset;
    right: unset;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .footer_top {
    font-size: 50px;
  }

  .top-button button {
    font-size: 40px;
  }

  /* projects page */
  #projects-p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .projects-p .projects-p-title {
    font-size: 80px;
  }

  .projects-p {
    height: calc(65vh - 10px);
  }

  .projects-p-item {
    height: calc(35vh - 10px);
  }

  .project-p-title h1 {
    font-size: 27px;
  }

  .project-p-title p{
    font-size: 17px;
  }

  /* project page */
  .project-title .pt-mask {
    height: 70px;
  }

  .project-title .pt-mask div {
    height: 70px;
    font-size: 60px;
  }

  .project-container p {
    width: 100%;
  }

  .ts-problem-discrip {
    width: 100%;
    padding-right: 20px;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  /* main */

  /* projects page */

  /* project page */
}

@media (min-width: 393px) {
  /* main */

  /* projects page */

  /* project page */
}
