@font-face {
  font-family: "shone";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Söhne/TestSöhne-regular.otf") format("truetype");
}

@font-face {
  font-family: "signifier";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Signifier/TestSignifier-Regular.otf")
    format("truetype");
}

@font-face {
  font-family: "UntitledSans";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/UntitledCollection/UntitledSans/TestUntitledSans-Regular.otf")
    format("truetype");
}

@font-face {
  font-family: "UntitledSerif";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/UntitledCollection/UntitledSerif/TestUntitledSerif-Regular.otf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  /* background-color: rgb(207, 240, 245); */
  font-family: "UntitledSans";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.intro .intro-row1 {
  width: 100%;
  height: 20vh;
  background-color: rgb(169, 190, 190);
  position: relative;
}

.intro .intro-row1 nav {
  position: absolute;
  top: 0;
  right: 0;
}

.intro .intro-row1 nav a {
  display: block;
  border: 1px solid white;
  padding: 0.3em 2em 0.3em 1em;
  border-radius: 100px 100px;
  font-size: 17px;
  position: relative;
}

.intro .intro-row1 nav a::before {
  content: "";
  background-image: url(./assets/img/arrow-w.svg);
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
}

.intro .intro-row1 .logo {
  font-size: 40px;
}
