/* 데스크탑 */
@media (min-width: 1471px) {
  /* main */
  .howiwork .howiworktx {
    max-width: 43vw;
  }

  /* projects page */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 150px;
  }
}

/* 1025 ~ 1470 노트북 기본 */

/* 윈도우 노트북 용 */
@media (max-width: 1366px) {
  /* main */
  .intro .intro-row2 .intro-text-wrap div {
    font-size: 45px;
  }

  .about .about-item p {
    font-size: 70px;
  }

  .split5,
  .split6 {
    font-size: 35px;
  }

  .footer_top {
    height: 60vh;
    font-size: 55px;
  }

  /* project page */
  .project-title .pt-mask {
    height: 80px;
  }

  .project-title .pt-mask div {
    height: 70px;
    font-size: 60px;
  }

  .project-container p {
    font-size: 17px;
  }

  .project-container .tool-wrap li {
    font-size: 17px;
  }

  .project-container .function-wrap li {
    font-size: 17px;
  }

  .project-container .ts-wrap {
    font-size: 17px;
  }

  .ts-problem-discrip {
    font-size: 16px;
  }

  .ts-fix-discrip {
    font-size: 16px;
  }

  .ts-banda {
    font-size: 14px;
    line-height: 1.8;
  }
}

/* 태블릿용 */
@media (max-width: 1024px) {
  /* main */
  .loading-logo {
    font-size: 130px;
  }

  .lateral1 div {
    font-size: 17px;
  }

  .lateral2 div {
    font-size: 27px;
  }

  .intro .intro-row1,
  .intro .intro-row2 {
    height: 50%;
  }

  .intro .intro-row2 .intro-text-wrap {
    top: 60%;
    transform: translate(-50%, -50%);
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 40px;
  }

  .about h1 {
    font-size: 17px;
    padding-bottom: 7em;
  }

  .about .about-item {
    height: 13vh;
  }

  .about .about-item p {
    font-size: 60px;
  }

  .about .about-item span {
    font-size: 15px;
  }

  .howiwork h1 {
    font-size: 23px;
  }

  .split5,
  .split6 {
    font-size: 30px;
  }

  .split5 {
    margin-bottom: 70px;
  }

  .project-item > div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description-item {
    font-size: 30px;
  }

  .scroll {
    top: unset;
    right: unset;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .footer_top {
    font-size: 50px;
  }

  .top-button button {
    font-size: 40px;
  }

  /* projects page */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 80px;
  }

  .project-p-title h1 {
    font-size: 27px;
  }

  .project-p-title p {
    font-size: 17px;
  }

  .toproject-p {
    bottom: -7%;
  }

  .projects-p-item {
    align-items: end;
  }

  .projects-p-item .project-p-container {
    height: unset;
    aspect-ratio: 1 / 1;
  }

  /* project page */
  .project-title .pt-mask {
    height: 60px;
  }

  .project-title .pt-mask div {
    height: 60px;
    font-size: 50px;
  }

  .ts-problem-discrip {
    width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: 900px) {
  /* main */
  .intro .intro-row2 .intro-text-wrap div {
    font-size: 35px;
  }

  .about .about-item p {
    font-size: 55px;
  }

  .project-item-title {
    font-size: 55px;
  }

  /* projects */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 70px;
  }

  .toproject-p {
    bottom: -16%;
  }

  .project-p-title h1 {
    font-size: 24px;
  }

  .project-p-title p {
    font-size: 15px;
  }
}

/* 모바일 대 */
@media (max-width: 768px) {
  body {
    cursor: auto;
    position: relative;
  }

  /* main */
  .lateral {
    position: absolute;
    top: 0;
    left: 0;
    bottom: unset;
    transform: unset;
    transform-origin: unset;
    width: 100vw;
    height: 20vh;
    text-transform: unset;
    overflow: hidden;
  }

  .lateral1 {
    position: unset;
    transform: unset;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }

  .lateral1 div {
    font-size: 100px;
    font-weight: 100;
    line-height: 0.9;
    letter-spacing: -4px;
    animation: scroll-vertical 30s linear infinite;
  }

  .lateral2 {
    display: none;
  }

  .intro .intro-row1 .logo {
    white-space: nowrap;
    top: 22%;
  }

  .intro .intro-row1 .logo .logo-flex {
    display: none;
  }

  .intro .intro-row1 nav {
    top: unset;
    right: unset;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 30px;
  }

  .about {
    height: 100vh;
  }

  .about h1 {
    padding-bottom: 5em;
  }

  .about .about-item {
    height: 13vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .about .about-item span {
    font-size: 13px;
  }

  .about .about-item p {
    font-size: 45px;
  }

  .howiwork {
    padding: 1em;
    flex-direction: column;
    gap: 10vh;
  }

  .howiwork h1 {
    width: 100%;
  }

  .howiwork .howiworktx {
    width: 100%;
    max-width: unset;
  }

  .split5,
  .split6 {
    font-size: 30px;
  }

  .description-item {
    font-size: 25px;
  }

  .scroll {
    font-size: 30px;
  }

  .footer_top {
    font-size: 40px;
  }

  .footer_bottom {
    font-size: 35px;
  }

  .cursor {
    display: none;
  }

  .top-button button {
    font-size: 30px;
  }

  /* projects page */
  body.projects {
    width: unset;
    height: unset;
    overflow: unset;
  }

  .toproject-p {
    display: none;
  }

  #projects-p {
    height: auto;
    touch-action: auto;
    overscroll-behavior: auto;
  }

  .projects-p {
    height: 70vh;
  }

  .projects-p .pp-wrap {
    flex-direction: column;
    justify-content: unset;
    padding-bottom: 10vh;
  }

  .projects-p .pp-wrap .projects-p-title {
    font-size: 90px;
    line-height: 1;
    letter-spacing: -5px;
  }

  .projects-p-responsive {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
  }

  .projects-p-item {
    height: auto;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }

  .projects-p-item .project-p-container {
    width: 100%;
    height: 60vh;
  }

  .project-p-title h1 {
    opacity: 1;
    font-size: 30px;
  }

  .project-p-title p {
    opacity: 1;
    font-size: 20px;
  }

  /* project page */
  #project {
    line-height: 1.7;
  }

  #project .pin-spacer {
    height: 50vh !important;
  }

  #project .intro {
    height: 50vh !important;
  }

  #project .intro .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
  }

  #project .intro .home .project-logo {
    font-size: 25px;
  }

  #project .intro .intro-bottom {
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 7vh;
  }

  .intro-bottom .intro-bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-bottom .project-title {
    width: 100%;
  }

  .project-title .pt-mask {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-title .pt-mask div {
    right: unset;
  }

  .project-info .project-container p {
    font-size: 16px;
    margin-right: 20px;
  }

  .project-info .project-container .tool-wrap li {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .project-info .project-container .function-wrap li {
    font-size: 16px;
    margin-right: 20px;
  }

  .project-container .ts-wrap {
    font-size: 16px;
  }

  .ts-problem,
  .ts-fix {
    margin-bottom: 10px;
  }

  .ts-problem-discrip {
    font-size: 16px;
    padding-right: 30px;
  }

  .ts-fix-discrip {
    font-size: 16px;
  }

  .ts-fix-discrip li {
    margin-right: 20px;
  }

  .ts-banda {
    flex-direction: column;
  }

  .ts-before {
    width: 100%;
  }

  .ts-banda-arrow::before {
    content: "↓";
  }

  .ts-after {
    width: 100%;
  }
}

/* 모바일 가로모드 */
@media (max-width: 768px) and (orientation: portrait) {
  /* main */
  .intro .intro-row2 .intro-text-wrap div {
    font-size: 35px;
  }

  .about .about-item p {
    font-size: 55px;
  }

  .project-item-title {
    font-size: 55px;
  }

  /* projects */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 70px;
  }

  .toproject-p {
    bottom: -16%;
  }

  .project-p-title h1 {
    font-size: 24px;
  }

  .project-p-title p {
    font-size: 15px;
  }
}

/* 아이폰 대 */
@media (max-width: 640px) {
  /* main */
  .footer_top {
    font-size: 27px;
  }
}

@media (max-width: 576px) {
  /* main */
  .about .about-item p {
    font-size: 30px;
  }

  .project-item-title {
    font-size: 40px;
  }

  .description-item {
    font-size: 20px;
  }

  /* project page */
  .project-title .pt-mask {
    height: 50px;
  }

  .project-title .pt-mask div {
    height: 50px;
    font-size: 40px;
  }
}

@media (max-width: 430px) {
  /* main */
  .split5,
  .split6 {
    font-size: 30px;
  }

  .project-item-title {
    font-size: 35px;
  }

  .description-item {
    font-size: 17px;
  }

  .scroll {
    font-size: 26px;
  }

  .footer_top {
    justify-content: flex-end;
    font-size: 22px;
    height: 50vh;
    padding-bottom: 3vh;
  }

  .footer_bottom {
    padding-top: 5vh;
    align-items: unset;
    font-size: 30px;
    gap: 0.5rem;
  }

  /* projects page */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 70px;
    letter-spacing: -2px;
  }

  .projects-p-responsive {
    font-size: 23px;
  }

  .projects-p-item .project-p-container {
    height: 45vh;
  }

  /* project page */
  #project .intro .home .project-logo {
    font-size: 20px;
  }

  .project-info {
    padding: 0 20px 0 20px;
  }

  .project-title .pt-mask {
    height: 45px;
  }

  .project-title .pt-mask div {
    font-size: 35px;
    height: 45px;
  }

  .ts-banda {
    padding: 0 20px 30px 20px;
    gap: 30px;
  }

  .ts-before {
    padding: 20px;
  }

  .ts-after {
    padding: 20px;
  }

  .next-project {
    font-size: 20px;
  }

  .top {
    justify-content: center;
  }
}

/* 모바일 */
@media (max-width: 393px) {
  /* main */
  .loading-logo {
    font-size: 90px;
    letter-spacing: -2px;
  }

  .intro .intro-row1 .logo {
    top: 19%;
  }

  .intro .intro-row2 .intro-text-wrap {
    top: 50%;
  }

  .intro .intro-row2 .intro-text-wrap div {
    font-size: 27px;
  }

  .about {
    height: 100vh;
  }

  .about .about-item {
    height: 10vh;
  }

  .about .about-item p {
    font-size: 27px;
  }

  .howiwork {
    height: 60vh;
    padding: 1em;
  }

  .split5,
  .split6 {
    font-size: 20px;
  }

  .project-item-title {
    font-size: 35px;
  }

  .description-list {
    gap: 6px;
  }

  .footer_top {
    font-size: 19.5px;
  }

  /* projects page */
  .projects-p .pp-wrap .projects-p-title {
    font-size: 60px;
  }

  .projects-p-responsive {
    font-size: 20px;
  }

  .projects-p-item .project-p-container {
    height: 35vh;
  }

  .project-p-title p {
    font-size: 15px;
  }

  /* project page */
  .project-title .pt-mask {
    height: 35px;
  }

  .project-title .pt-mask div {
    height: 35px;
    font-size: 30px;
  }

  .project-container h1 {
    font-size: 25px;
  }

  .project-info .project-container .tool-wrap li {
    font-size: 14px;
  }
}
